In [34]:
!pip install exbook

Requirement already satisfied: exbook in c:\users\pipio\anaconda3\lib\site-packages (0.0.3)

In [1]:
from exbook import book as eb
len(eb)

36

In [6]:
print(eb[24])

There are n stairs, a person standing at the bottom wants to reach the top
of the stairs. This person can climb either 1 stair or 2 stairs at a time.
Write a function with the input argument n to count the number of ways, the
person can reach the top. For example, if n = 2, this person has 2 ways to
getto the top; if n = 3, this person has 3 ways to get to the top; if n = 4,
this person has 5 ways to get to the top.

        Input1: int Output: int
Test 1:           2           2
Test 2:           5           8
Test 3:          11         144

Stairs: Hard

In [ ]:
def steps(n):

In [7]:
print(eb[25])

Given positive integers n and m as input arguments, write a function to
select all positive integers that are no larger than n and the summations
of all digits are the same as m. Return these selected integers as a list.
For example, if n = 30 and m = 5, the returned output is [5, 14, 23], if
n = 50 and m = 9, then returned output is [9, 18, 27, 36, 45]

        Input1: int Input2: int         Output: list
Test 1:          30           5          [5, 14, 23]
Test 2:          50           9  [9, 18, 27, 36, 45]

Digit Sum: Medium

In [40]:
#solution for question 25

def trickster(n,m):
    
    output = []
    for x in range(0,n+1):
        x = str(x)
        sum = 0    # this was important as need to zero my sum each time we go through new number
        for y in x:
            y = int(y)   # this ones are more experiments so that i can go through these integers and strings etc etc 
            sum = y + sum
        if sum == m:
            output.append(x)
    return(output)
        

trickster(30,5)


#z = [35,42,65]
#for y in z:
#    y = str(y)
#    print(y)
#    print(type(y))
#    for u in y:
#        u = int(u)
#        print(int(u))
#        print(type(u))

['5', '14', '23']

In [2]:
print(eb[26])

Given a list of numbers as the input argument, write a function to return
a list of numbers that only appear once in the list. For example, if the
input is [1, 2, 1, 4, 3, 2, 0], then the  output is [4, 3, 0]; if the input
is [1.5, 2, 2.0, 3.5, 1.5, 2], then the output is [3.5].

                       Input1: list Output: list
Test 1:       [1, 2, 1, 4, 3, 2, 0]    [4, 3, 0]
Test 2:  [1.5, 2, 2.0, 3.5, 1.5, 2]        [3.5]

One Appearance: Medium

In [ ]:
def removi(x):

In [33]:
print(eb[27])

NameError: name 'eb' is not defined

In [10]:
print(eb[28])

Given a string containing different types of parentheses, write a function
to check if these parentheses matches. For example, if the input is "(this
is {a test})", the output is True; if the input is "(this is {a test)}",
then the output is False.

                Input1: str Output: bool
Test 1:  (this is {a test})         True
Test 2:  (this is {a test)}        False

Match Parentheses:  Very Hard

In [11]:
print(eb[29])

Given a list of numbers as the input argument, write a function to move all
zeros to the end of the list, while the order of the other numbers remain
the same. For example, if the input is [0, 1, 0, 3, 12], then the output is
[1, 3, 12, 0, 0].

                    Input1: list             Output: list
Test 1:         [0, 1, 0, 3, 12]         [1, 3, 12, 0, 0]
Test 2:  [-4, -2, 1, 0, 0, 2, 0]  [-4, -2, 1, 2, 0, 0, 0]

Move Zeros: Easy

In [8]:
#def zero(x):
#    for digit in range(0,len(x)):
#        if x[digit] == 0:
#            y = x.pop(digit)
#            x.append(y)
            
#    print(x)
    
#zero([-4, -2, 1, 0, 0, 2, 0])


def zero(x):
    counter = 0
    for numbers in x:
        if numbers == 0:
            x.remove(0)
            counter = counter +1
    x = x + [0]*counter    
    return(x)
    
zero([0, 1, 0, 3, 12])

[1, 3, 12, 0, 0]